<!DOCTYPE html>

<html>

<head>
    <title>new app</title>
</head>

<body>
    <h1>asciic</h1>

    <form method="post">
        <label>
            <div>Title</div>
            <input type="text" name="title" value={{title}}>
        </label>

        <label>
            <div>Art</div>
            <textarea name="art">{{art}}</textarea>
        </label>

        <div class="error"> {{error}}</div>

        <input type="submit">
        <br>
        <br>
        <hr>
        <h2>Your list of ascii art</h2> {% for i in arts %}
        <div class="art">
            <div class="art_title"> {{i.title}}</div>
            <pre class="art_body"> {{i.art}}</pre>
        </div> {% endfor %}


</body>

</html>
