{% extends "base.html" %} {% block content %}

<form>
    <h2>Fizzbuzz</h2>
    <h3>Till what number do u want to chek fizzbuzz?</h3>
    <input type="text" name="n">
    <button> Add</button>

    <ol>
        {% for x in range(1,n+1) %}
        <li>
            {% if x%5==0 and x%3==0 %} FizzBuzz {% else %} {% if x%5==0%} Buzz {% elif x%3==0 %} Fizz {% else %} {{x}} {% endif %} {% endif %}
        </li>
        {% endfor %}
    </ol>
</form>

<br><br><br><br><br>
<a href="/"><button> homepage </button></a> {% endblock %}
