{% extends "base.html" %} {% block content %}

<form>
    <h2>Add a food</h2>
    <input type="text" name="food"> {% if items %} {% for item in items %}
    <input type="hidden" name="food" value="{{item}}"> {% endfor %} {% endif %}
    <button> Add </button> {% if items %}
    <br>
    <br>
    <h2> Shopping list</h2>
    <ul>
        {% for item in items %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</form>

{% endblock %}


<!-- notes
to escape in webpage
(escaping refers to-
if user uses "html tags" as an input that is wrong,
which can create security breaches)
jinja has good feature for it.
you can directly add "| escape"
    example. {{variable_name | escape}}
or
in main.py
jinja_env = jinja2.Environment(loader = jinja2.FileSystemLoader(template_dir))
replace this line with following line
jinja_env = jinja2.Environment(loader = jinja2.FileSystemLoader(template_dir), autoescape = True)
-->
