<!DOCTYPE html>

<html>

<head>
    <title>New_App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, minimum-scale=1">


</head>
<style>
    body {
        font-family: sans-serif;
        width: 800px;
        margin: 0 auto;
        padding: 10px;
    }

    .art+ .art {
        margin-top: 20px;
    }

    .art_title {
        font-weight: bold;
        font-size: 23px;
        color: darkgray;
    }

    .art_body {
        margin: 0;
        font-size: 15px;
    }
</style>


<body>
    <h2>Your posted blog</h2>
    <hr>
    <form method="post">
        <div class="art_title">
            {{title}}
        </div>
        <div class="art_body">
            {{art}}
        </div>
    </form>


</body>

</html>

</html>
